.main-container {
  text-align: center;
}

.toggle-buttons{
  height: 100px;
}

.selectedButton{
  background: darkblue;
  color: white;
}

.unanswered-button{
  margin-top: 20px;
  margin-right: 2px;
  border: none;
  width: 20%;
  height: 50%;
  font-size: 25px;
  border-radius: 10px;
}

.answered-button{
  margin-top: 20px;
  margin-left: 2px;
  border: none;
  width: 20%;
  height: 50%;
  font-size: 25px;
  border-radius: 10px;
}

.type-questions {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 25px 200px 25px 200px;
}

.type-questions h2 {
  margin-top: 0px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  background-color: lightgray;
}

.card-container-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0px 10px 0px 10px;
}
