.card-container {
  border: 1px solid gray;
  border-radius: 5px;
  width: 250px;
  margin-bottom: 20px;
}

.authorName {
    font-size: 18px;
    font-weight: 500;
}

.time {
    margin: 5px 0px 0px 0px;
    color: gray;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    font-size: 14px;
}

.show-btn-div{
    margin: 10px 0px 10px 0px;
    width: 70%;
    border: 1px solid green;
    margin-left: 35px;
    border-radius: 5px;
}

/* .show-btn-div:hover{
    background-color: green;
} */

.showbutton {
    text-decoration: none;
    color: green;
}

/* .showbutton:hover{
    color: white;
} */
