.table-div{
    margin-top: 20px;
}

.table-div table{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.table-div table{
    border: 1px solid gray;
    border-radius: 5px;
    border-collapse: collapse;
}

.table-div th{
    border: 1px solid gray;
    border-collapse: collapse;
    font-size: 12px;
    padding: 12px;
    text-align: left;
    background-color: lightgray;
}

.table-div td{
    border: 1px solid gray;
    border-collapse: collapse;
    font-size: 12px;
    padding: 12px;
    text-align: left;
}

.employee-poll-details{
    display: flex;
}
.img-details{
    max-width: 50px;
    max-height: 25px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50%;
}