.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1.5px solid lightgray;
  padding: 10px 5px 5px 10px;
}

.link {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-weight: 500;
}

.span {
  margin-right: 20px;
  color: black;
  padding: 20px;
  font-weight: 500;
}
.span img {
  margin-right: -18px;
  max-width: 50px;
  max-height: 50px;
}

.button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  margin-right: 10px;
}
